{% extends 'base.html.twig' %}

{% block title %}Дыхательный метод Вима Хофа{% endblock %}

{% block description %}На этой странице вы можете выполнять дыхательную гимнастику по методу Вим Хофа и сохранять результаты.{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('wim') }}
{% endblock %}

{% block body %}
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row">
            <!-- Приветственный баннер -->
            <div class="col-lg-8 mb-4 order-0">
                <div class="card">
                    <div class="d-flex align-items-end row">
                        <div class="col-sm-7">
                            <div class="card-body">
                                <h5 class="card-title text-primary">Дыхательный метод Вима Хофа 🎉</h5>
                                <p class="mb-4">
                                    Привет! Выполни дыхательные упражнение. Улучши свое здоровье, настроение,
                                    самочувствие и будь вместе с нами.
                                </p>

                                <a href="javascript:void(0);" class="btn btn-sm btn-outline-primary">О сайте</a>
                            </div>
                        </div>
                        <div class="col-sm-5 text-center text-sm-left">
                            <div class="card-body pb-0 px-0 px-md-4">
                                <img
                                        src="../assets/img/illustrations/man-with-laptop-light.png"
                                        height="140"
                                        alt="View Badge User"
                                        data-app-dark-img="illustrations/man-with-laptop-dark.png"
                                        data-app-light-img="illustrations/man-with-laptop-light.png"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ Приветственный баннер -->

            <!-- Плитки верхнего ряда -->
            <div class="col-lg-4 col-md-4 order-1">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-6 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title d-flex align-items-start justify-content-between">
                                    <h3 class="mb-1">11 минут</h3>
                                    <div class="avatar flex-shrink-0">
                                        {# Картинка #}
                                    </div>
                                </div>
                                <span class="d-block mb-1">Потребуется на выполнение упражнения</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-6 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title mb-3">На 1,5 минуты</h3>
                                <span class="d-block mb-1">Задержка дыхания с первого раза</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ Плитки верхнего ряда -->

            <!-- Упражнение -->
            <div class="col-12 col-lg-8 order-2 order-md-3 order-lg-2 mb-4">
                <div id="app"></div>
                <div class="card mt-3">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5 class="card-title m-0 me-2">Ключевые моменты:</h5>
                    </div>
                    <div class="card-body">
                        <ul class="p-0 m-0">
                            <li class="d-flex mb-4 pb-1">
                                <div class="avatar flex-shrink-0 me-3">
                                    <i class="menu-icon tf-icons bx bx-wind"></i>
                                </div>
                                <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                    <p>
                                        Вим Хоф, также известный как «Ледяной человек», является голландским
                                        спортсменом-экстремалом, который обладает известной способностью выдерживать
                                        низкие температуры, бегать марафон босиком по снегу и
                                        взбираться на горы без рубашки.
                                    </p>
                                </div>
                            </li>
                            <li class="d-flex mb-4 pb-1">
                                <div class="avatar flex-shrink-0 me-3">
                                    <i class="menu-icon tf-icons bx bx-wind"></i>
                                </div>
                                <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                    <p>
                                        «Метод», который позволил Хофу совершать такие подвиги, вызвал научный интерес
                                        и привел к серии исследований, направленных на раскрытие его смелых подвигов.
                                    </p>
                                </div>
                            </li>
                            <li class="d-flex mb-4 pb-1">
                                <div class="avatar flex-shrink-0 me-3">
                                    <i class="menu-icon tf-icons bx bx-wind"></i>
                                </div>
                                <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                    <p>
                                        Вим Хоф теперь считается «мировым лидером в области здравоохранения» и
                                        мотивационнм оратором с 21 мировым рекордом Гиннеса и значительным числом
                                        последователей, которые практикуют его знаменитый «Метод Вима Хофа».
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--/ Упражнение -->

            <!-- Список -->
            {% if app.user %}
                <div class="col-md-6 col-lg-4 order-2 mb-4">
                    <div class="card h-100">
                        <div class="card-header d-flex align-items-center justify-content-between">
                            <h5 class="card-title m-0 me-2">Последние упражнения</h5>
                        </div>
                        <div class="card-body">
                            <ul class="p-0 m-0">
                                {% if userExercises and userExercises|length > 0  %}
                                {% for breathingExercise  in  userExercises %}
                                    <li class="d-flex mb-4 pb-1">
                                        <div class="avatar flex-shrink-0 me-3">
                                            <img src="../assets/img/icons/brands/asana.png" alt="User"
                                                 class="rounded"/>
                                        </div>
                                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between">
                                            <div class="me-2">
                                                <small class="d-block mb-2">Упражнение номер: {{ breathingExercise.sessionNumber }}</small>
                                                <span class="text-muted d-block mb-1">{{ breathingExercise.duration }}</span>
                                            </div>
                                            <div class="me-2">
                                                <small class="d-block mb-2">{{ breathingExercise.dateCreate }}</small>
                                                <h6 class="text-muted d-block mb-1">Кругов: {{ breathingExercise.laps|length }}</h6>
                                            </div>
                                            <div class="me-2">
                                                <small class="text-muted d-block mb-1">Максимальная задержка дыхания: {{ breathingExercise.maxExhaleHold }}</small>
                                                <small class="text-muted d-block mb-1">Максимальное количество вдохов-выдохов: {{ breathingExercise.maxBreaths }}</small>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                                {% else %}
                                    <p>Тут будут отображаться ваши последние результаты. Попробуйте сейчас</p>
                                    <p class="mt-3">Пока нет ни одного упражнения 😴</p>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% else %}
                {#  Promo  #}
                <div class="col-md-6 col-lg-4 order-2 mb-4">
                    <div class="card h-100">
                        <div class="card-header d-flex align-items-center justify-content-between">
                            <h5 class="card-title m-0 me-2">Последние упражнения</h5>
                        </div>
                        <div class="card-body">
                            <p class="mb-5"><a class="fw-bold" href="/login">Войдите</a>, чтобы получить доступ к
                                персональной статистике</p>

                            <ul class="p-0 m-0">
                                <li class="d-flex mb-4 pb-1">
                                    <div class="avatar flex-shrink-0 me-3">
                                        <a href="/login">
                                            <img src="/assets/img/avatars/avatar.jpg" alt="User" class="rounded">
                                        </a>
                                    </div>
                                    <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                        <div class="me-2">
                                            <small class="text-muted d-block mb-1">Анжелика Егорина</small>
                                            <h6 class="mb-0">Кругов: 4</h6>
                                        </div>
                                        <div class="user-progress d-flex align-items-center gap-1">
                                            <h6 class="mb-0">820</h6>
                                            <span class="text-muted">сек.</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="d-flex mb-4 pb-1">
                                    <div class="avatar flex-shrink-0 me-3">
                                        <a href="/login">
                                            <img src="../assets/img/icons/brands/asana.png" alt="User" class="rounded">
                                        </a>
                                    </div>
                                    <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                        <div class="me-2">
                                            <small class="text-muted d-block mb-1">Раиса Бондарева</small>
                                            <h6 class="mb-0">Кругов: 3</h6>
                                        </div>
                                        <div class="user-progress d-flex align-items-center gap-1">
                                            <h6 class="mb-0">812</h6>
                                            <span class="text-muted">сек.</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="d-flex mb-4 pb-1">
                                    <div class="avatar flex-shrink-0 me-3">
                                        <a href="/login">
                                            <img src="/assets/img/avatars/avatar.jpg" alt="User" class="rounded">
                                        </a>
                                    </div>
                                    <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                        <div class="me-2">
                                            <small class="text-muted d-block mb-1">Азим Кульмурадов</small>
                                            <h6 class="mb-0">Кругов: 3</h6>
                                        </div>
                                        <div class="user-progress d-flex align-items-center gap-1">
                                            <h6 class="mb-0">637</h6>
                                            <span class="text-muted">сек.</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="d-flex mb-4 pb-1">
                                    <div class="avatar flex-shrink-0 me-3">
                                        <a href="/login">
                                            <img src="/assets/img/avatars/avatar.jpg" alt="User" class="rounded">
                                        </a>
                                    </div>
                                    <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                        <div class="me-2">
                                            <small class="text-muted d-block mb-1">Dryhan Fegin</small>
                                            <h6 class="mb-0">Кругов: 4</h6>
                                        </div>
                                        <div class="user-progress d-flex align-items-center gap-1">
                                            <h6 class="mb-0">838</h6>
                                            <span class="text-muted">сек.</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="d-flex mb-4 pb-1">
                                    <div class="avatar flex-shrink-0 me-3">
                                        <a href="/login">
                                            <img src="/assets/img/avatars/5.png" alt="User" class="rounded">
                                        </a>
                                    </div>
                                    <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                        <div class="me-2">
                                            <small class="text-muted d-block mb-1">Denis Laletin</small>
                                            <h6 class="mb-0">Кругов: 3 </h6>
                                        </div>
                                        <div class="user-progress d-flex align-items-center gap-1">
                                            <h6 class="mb-0">592</h6>
                                            <span class="text-muted">сек.</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="d-flex mb-4 pb-1">
                                    <div class="avatar flex-shrink-0 me-3">
                                        <a href="/login">
                                            <img src="/assets/img/avatars/avatar.jpg" alt="User" class="rounded">
                                        </a>
                                    </div>
                                    <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                        <div class="me-2">
                                            <small class="text-muted d-block mb-1">СварганьКа</small>
                                            <h6 class="mb-0">Кругов: 2</h6>
                                        </div>
                                        <div class="user-progress d-flex align-items-center gap-1">
                                            <h6 class="mb-0">503</h6>
                                            <span class="text-muted">сек.</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}
            <!--/ Список -->
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('wim') }}
{% endblock %}